@charset "UTF-8";

*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-image: linear-gradient(to right, #3DFCC6, #5CFF99);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #3aa05f;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #4F87FF;
    text-align: center;
    text-shadow: 1px 1px 2px #375fb4;
}

h2 {
    color: #28AFFC;
}

p {
    text-align: justify;
}